h1, h2, h3, p {
    text-align: center;
    color: #EC8305;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
  }
h1 {
   margin-top: 345px;
   margin-right: 50%;
   text-align: left;
   font-size: 53px;
  }
.description {
    margin-bottom: 345px;
    margin-top: 0;
    margin-right: 35%;
    text-align: left;
  }
body {
    background-image: url(img/Starry\ night.jpg);
    background-position: center;
    background-size: 120%;
  }
.intro {
    width: 80%;
    background: linear-gradient(-220deg,#ebe7e7, #dcd9d9, #a5a2a2);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px 0 #EC8305;
    font-style: italic;
  }
.abstract {
    background: linear-gradient(-220deg,#ebe7e7, #dcd9d9, #a5a2a2);
    box-shadow: 0 0 20px 0 #EC8305;
    margin-top: 30px;
  }
  .fig {
    margin-top: -15px;
    color: black;
    font-size: small;
  }
  img {
   max-width: 95%;
   padding-left: 2.5%;
   padding-top: 15px;
  }  